<!doctype html>
<title>Tic Tac Toe</title>
<meta name="viewport" content="width=device-width, initial-scale=0.65, minimum-scale=0.3, maximum-scale=2.0, user-scalable=yes" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='demo/tic-tac-toe/static/css/whatever.css') }}">
<style type="text/css">
    /* Mobile Devices*/
    @media screen and (min-width: 520px) {body {position: absolute; top: 50%; left: 50%; margin-top: -400px; margin-left: -260px;} #s {left: 25px !important;} } 
</style>
<style>
    @font-face {
        font-family: myFont;
        src: url("./GillSansMTPro-Book.OTF") format('opentype');
    }
    @font-face {
        font-family: oFont;
        src: url("./FuturaLTPro-Light.OTF") format('opentype');
    }
</style>

<body style="width: 520px; color: #13334c; font-family: myFont;">
<h1 style="padding-left: 25px;"><a href="https://github.com/bugstop/tic-tac-toe-ai/tree/python/Python/web_version" style="text-decoration: none; color: #13334c;">Tic Tac Toe <sup style="font-size: 70%; font-style: italic; left: 5px; position: relative;">demo</sup></a><sub style="font-size: 40%; left: 50px; position: relative;">by Muhan Li,&thinsp;&thinsp;&thinsp;&thinsp;Oct 24 / 19</sub></h1>
<div style="padding-left: 25px;">
    <form method="post" accept-charset="utf-8">
        <button class="button" style="position: absolute; top: 100px; left: 280px; width: 150px; font-size: 25px;">(re-)
            Start
        </button>
        <label>
            <input class="radio" type="radio" name="p" value="H" checked> Human First
        </label>
        <br/>
        <label>
            <input class="radio" type="radio" name="p" value="T"> Tree First
        </label>
        <p>Human: X, Tree: O</p>
    </form>
</div>

{% if game %}
<form method="post" accept-charset="utf-8" style="color: #f6f6e9;">
    <div>
        <ul class="ul_box">
            <div class="label_box">
                {{display | safe}}
            </div>
        </ul>
    </div>
    {{game | safe}}

    <div id='s' style="position: absolute; top: 680px; left: 45px;">
        {% if not win %}
        <button class="button" style="line-height: 60px;">Next</button>
        {% else %}
        <div class="button" style="line-height: 60px;">{{win}}</div>
        {% endif %}
    </div>

</form>

<script type=text/javascript src="{{ url_for('static', filename='demo/tic-tac-toe/static/js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript">
    $.fn.extend({
        hlRadio: function () {
            var radioEl = $(this);
            radioEl.click(function () {
                radioEl.siblings("div").removeClass("active");
                $(this).siblings("div").addClass("active");
            });
        },
        hlCheckbox: function () {
            var checkboxEl = $(this);
            checkboxEl.click(function () {
                if ($(this).prop("checked")) {
                    $(this).siblings("div").addClass("active");
                } else {
                    $(this).siblings("div").removeClass("active");
                }
            });
        }
    });
    $("input[name='box']").hlRadio();
</script>
{% endif %}
</body>

<script>
    document.oncontextmenu = function () { return false; };
	document.onselectstart = function () { return false; };
	document.oncopy = function () { return false; };
	document.oncut = function () { return false; };
	document.onpaste = function () { return false; };
	document.ondragstart = function () { return false; };
	document.addEventListener('keydown', (event) => { if (event.keyCode === 123) { event.preventDefault(); } })                                    // Prevent F12
	document.addEventListener('keydown', (event) => { if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { event.preventDefault(); } })   // Prevent Ctrl+Shift+I
	document.addEventListener('keydown', (event) => { if (event.ctrlKey && event.shiftKey && event.keyCode == 74) { event.preventDefault(); } })   // Prevent Ctrl+Shift+J
</script>
