html {
  height: 100vh;
  position: relative;
}

h1 {
  margin-top: 50px;
}

button {
  margin-right: 20px;
  margin-bottom: 5px;
}

#mask {
  height: 100vh;
  width: 100vh;
  z-index: 2048;
  opacity: 0;
  position: absolute;
}

#start {
  padding: 20px 40px 0;
}

.container {
  margin-top: 30px;
}

#board, #winner {
  padding: 3% 5%;
  margin-left: 5px;
  margin-right: 5px;
}

#winner {
  padding-top: 0;
}

#result {
  animation: showResult 1s;
}

@keyframes showResult
{
  0%   {opacity: 0;}
  40%  {opacity: 0;}
  100%  {opacity: 1;}
}

#board > div {
  padding-left: 5px;
  padding-right: 5px;
}

.outer {
  background-color: #f8f9fa;
  border: #6c757d 2px solid;
  margin-bottom: 10px;
  padding: 12%;
}

.box {
  padding-top: 100%;
  width: 100%;
}

.open {
  border-radius: 50%;
  transition:all 0.2s ease-in-out;
}

.open:hover {
  background-color: #C0C0C0;
  transition:all 0.1s ease-in-out;
}

.user {
  border-radius: 50%;
  background-color: #FF9900;
}

.comp {
  border-radius: 50%;
  background-color: #17a2b8;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#foot {
  color: #212529;
}

