<!doctype html>
<title>Tic Tac Toe</title>
<meta name="viewport" content="width=device-width, initial-scale=0.7, minimum-scale=0.3, maximum-scale=2.0, user-scalable=yes" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/whatever.css') }}">
<style type="text/css">
    /* Mobile Devices*/
    @media screen and (min-width: 520px) {body {position: absolute; top: 50%; left: 50%; margin-top: -400px; margin-left: -260px;} #s {left: 25px !important;} } 
</style>

<body style="width: 520px; color: #13334c">
<h1 style="padding-left: 25px;">Tic Tac Toe <sup style="font-size: 70%; font-style: italic;">demo</sup><sub style="font-size: 30%;">by Muhan
    Li, Oct 24 / 19</sub></h1>
<div style="padding-left: 25px;">
    <form method="post" accept-charset="utf-8">
        <button class="button" style="position: absolute; top: 100px; left: 280px; width: 150px; font-size: 20px;">(re-)
            Start
        </button>
        <label>
            <input class="radio" type="radio" name="p" value="H" checked> Human First
        </label>
        <br/>
        <label>
            <input class="radio" type="radio" name="p" value="T"> Tree First
        </label>
        <p>Human: X, Tree: O</p>
    </form>
</div>

{% if game %}
<form method="post" accept-charset="utf-8">
    <div>
        <ul class="ul_box">
            <div class="label_box">
                {{display | safe}}
            </div>
        </ul>
    </div>
    {{game | safe}}

    <div id='s' style="position: absolute; top: 680px; left: 45px;">
        {% if not win %}
        <button class="button">Next</button>
        {% else %}
        <div class="button" style="line-height: 50px;">{{win}}</div>
        {% endif %}
    </div>

</form>

<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript">
    $.fn.extend({
        hlRadio: function () {
            var radioEl = $(this);
            radioEl.click(function () {
                radioEl.siblings("div").removeClass("active");
                $(this).siblings("div").addClass("active");
            });
        },
        hlCheckbox: function () {
            var checkboxEl = $(this);
            checkboxEl.click(function () {
                if ($(this).prop("checked")) {
                    $(this).siblings("div").addClass("active");
                } else {
                    $(this).siblings("div").removeClass("active");
                }
            });
        }
    });
    $("input[name='box']").hlRadio();
</script>
{% endif %}
</body>

<script>
document.oncontextmenu=new Function("event.returnValue=false;");
document.onselectstart=new Function("event.returnValue=false;");
</script>
